.cart-container {
    background-color: #f8f9fa; /* لون خلفية فاتح */
    color: #212529; /* لون الخط أسود */
    padding: 2rem;
    margin: 4px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* ظل خفيف */
  }
  
  .cart-table {
    background-color: #ffffff;
    color: #212529;
    border-radius: 8px;
  }
  
  .cart-table th,
  .cart-table td {
    vertical-align: middle;
  }
  
  .cart-table tbody tr:hover {
    background-color: #e9ecef; /* لون عند التمرير */
  }
  
  .checkout-button {
    background: linear-gradient(90deg, #000000, #a8a8a8);
    transition: transform 0.3s ease-in-out;
    color: white;
  }
  
  .checkout-button:hover {
    transform: scale(1.05);
  }
  
  .btn-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .img-thumbnail {
    border: none;
    transition: transform 0.3s ease-in-out;
  }
  
  .img-thumbnail:hover {
    transform: scale(1.1);
    border: 2px solid #212529;
  }
  